.container {

  display: flex;
}

.container {
  height: 300px;
  padding: 16px;
  background: #1f2937;
  border: 0px solid indigo;
  display: flex;
  align-items: center;
  margin: -12px;
  width: 10003px;

  
}


.bottom {

  display: flex;
}

.bottom {

  position: relative;
}


.chao { 

  height: 50px;
  padding: 16px;
  background: #1f2937;
  border: -12px solid indigo;
  display: flex;
  align-items: center;
  margin: -23px;
  position: absolute;
  bottom: 8px;
  left: 16px;
  width: 10003px;


}